<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>MatchMyBottle</title>
    <link rel="icon" type="image/png" sizes="16x16" href="https://imagizer.imageshack.com/img923/4710/EdsMLI.png">
</head>

<body>
<div id="utilisateur" th:each="user : ${user}">

 <div id="connexion" >
     <b>
         <a href="/search"><img id= "deco" src="https://imagizer.imageshack.com/img924/306/f23VY7.png"/></a>
         Bonjour <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span>
      </b>
 </div>
     <input type="hidden" th:field="${user.id}" th:value="${user.id}">

     <div id="mesFavoris">
         <b>  <a th:href="@{/favoris/{id}(id = ${user.id})}">Mes favoris</a></b>
     </div>
     </div>
 <br>

</div>

<div class="corps">
<h1><b>Let's find your match</b></h1>


<form method="post" th:action="@{/searchConnecte/{id}(id = ${user.id})}" th:object="${quizz}">

    <div class="questions">
        <div class="question">
            Ce soir je suis chaud(e) pour : <br/>
        </div>
        <div class="reponses">
            <div class="reponse1">
                <input th:field="${quizz.makeParty}" type="checkbox" id="fete" name="choixMood" class="choixMood" onClick="doChange(this)">
                <label for="fete">Faire la fete</label>
            </div>
            <div class="reponse">
                <input th:field="${quizz.chill}" type="checkbox" id="chill" name="choixMood" class="choixMood" onClick="doChange(this)">
                <label for="chill">Passer un moment chill</label>
            </div>
            <div class="reponse">
                <input th:field="${quizz.forgetMyNight}" type="checkbox" id="oublier" class="choixMood" name="choixMood" onClick="doChange(this)">
                <label for="oublier">Oublier ma nuit</label>
            </div>
        </div>
    </div>

    <div class="questions">
        <div class="question">
            Je serai avec :<br/>
        </div>
        <div class="outer-div">
            <div class="reponses">
                <div class="reponse1">
                    <input th:field="${quizz.crush}" type="checkbox" id="crush" name="choixPoto" class="choixPoto" onClick="doChange(this)">
                    <label for="crush">Mon crush</label>
                </div>
                <div class="reponse">
                    <input th:field="${quizz.alone}" type="checkbox" id="seul" name="choixPoto" class="choixPoto" onClick="doChange(this)">
                    <label for="seul">Me myself and I</label>
                </div>
                <div class="reponse">
                    <input th:field="${quizz.friends}" type="checkbox" id="collegue" name="choixPoto" class="choixPoto" onClick="doChange(this)">
                    <label for="collegue">Les potos</label>
                </div>
            </div>
        </div>
    </div>

    <div class="questions">
        <div class="question">
            Je peux payer :<br/>
        </div>
        <div class="reponses">
            <div class="reponse1">
                <input th:field="${quizz.ten}"type="checkbox" id="moins10" name="choixBudget" class="choixBudget" onClick="doChange(this)">
                <label for="moins10">Moins de 10 euros, c'est la hess</label>
            </div>
            <div class="reponse">
                <input th:field="${quizz.twentyFive}" type="checkbox" id="entre10et25" name="choixBudget" class="choixBudget" onClick="doChange(this)">
                <label for="entre10et25">Entre 10 et 25 euros</label>
            </div>
            <div class="reponse">
                <input th:field="${quizz.rich}" type="checkbox" id="plus25" name="choixBudget" class="choixBudget" onClick="doChange(this)">
                <label for="plus25">Plus de 25 euros, c'est la richesse</label>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="chercher">
            <b> <button type="submit" class="envoyerForm">Find my match</button> </b>
        </div>
    </div>
<br><br>
    <div id="warning">Nous vous rappelons que l'abus d'alcool est dangereux pour la santé, et qu'il est à consommer avec modération.</div>

</form>

</div>
</body>

<script>

    var aGspot = document.querySelectorAll('[class^="choixMood"]'), iNb = aGspot.length;
    for(var i = 0; i< iNb;i++){
        //Assignation de l'écouteur sur chaque checkbox
        aGspot[i].addEventListener("click", checkboxToRadio);
        if(aGspot[i].checked){
            window[aGspot[i].className] = aGspot[i]
        }
    }

    var aGspot2 = document.querySelectorAll('[class^="choixPoto"]'), iNb2 = aGspot2.length;
    for(var i2 = 0; i2< iNb2;i2++){
        //Assignation de l'écouteur sur chaque checkbox
        aGspot2[i2].addEventListener("click", checkboxToRadio);
        if(aGspot2[i2].checked){
            window[aGspot2[i2].className] = aGspot2[i2]
        }
    }

    var aGspot3 = document.querySelectorAll('[class^="choixBudget"]'), iNb3 = aGspot3.length;
    for(var i3 = 0; i3< iNb3;i3++){
        //Assignation de l'écouteur sur chaque checkbox
        aGspot3[i3].addEventListener("click", checkboxToRadio);
        if(aGspot3[i3].checked){
            window[aGspot3[i3].className] = aGspot3[i3]
        }
    }

    function checkboxToRadio(oEvent){
        var oEl = oEvent.target, sClass = oEl.className,
            bHasOldCheck = (typeof(window[sClass]) != "undefined" && window[sClass] != null);
        if(bHasOldCheck===false){
            //si il y a un checkbox sélectionné
            if(oEl.defaultChecked === true){
                // checkbox sélectionné par défaut
                oEl.checked = true
            }
        }else{
            if(window[sClass] !== oEl){
                //si il y a un checkbox sélectionné en cours dans window[sClass]
                // je le decoche sauf si c'est le checkbox qui vient d'être cliqué
                window[sClass].checked = false;
            }else{
                //si il y a un checkbox sélectionné en cours dans window[sClass]
                // et c'est le checkbox qui vient d'être cliqué je le coche
                window[sClass].checked = true;
            }
        }
        //J'ai traité le checkbox anciennement sélectionné
        //je mets window[sClass] = null
        window[sClass] = null;
        if(oEl.checked===true){
            // si je suis sélectionné, je stocke me dans window[sClass]
            window[sClass] = oEl;
        }
    }
</script>

<style>
    body {

        background-image: url("https://imagizer.imageshack.com/img923/4391/X8HXIK.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color:white;
    }

    a:hover
    {
        color: white;
        text-decoration: none;
    }

    a{
        text-decoration:none;
        color:white;
    }

    .corps{
        margin-top : 7em;
    }

    #connexion{

        font-size: 30px;
        color:white;
        border-radius: 10px;
        text-align: center;
        float:left;
        background: rgba(61,216,252, 0.7);
        margin-top: 0.2em;
        margin-left: 0.5em;
        margin-bottom: 2.7em;
        padding-left: 1em;
        padding-right: 1em;
    }

    #mesFavoris{
        font-size: 30px;
        color:white;
        border-radius: 10px;
        text-align: center;
        width:10em;
        float:right;
        background: rgba(61,216,252, 0.7);
        margin-top: 0.2em;
        margin-right: 0.5em;
        margin-bottom: 2.7em;
    }

    #deco{
        width: 40px;
        height: 30px;
        margin-bottom: 7px;
    }

    h1{
        text-align: center;
        font-size: 70px;
    }

    .question{
        text-align: center;
        font-size: 35px;
    }

    .reponses{
        display: flex;
        flex-direction: row;
        text-align: center;
        font-size: 20px;
    }

    .reponse1{
        margin-left: 1em;
        text-align: center;
        width: 33.33333%;
        font-size: 20px;
    }

    .reponse{
        margin-left: 3em;
        text-align: center;
        width: 33.33333%;
    }


    .questions{
        margin-top: 2.7em;
        background: rgba(247,82,224,0.7);
        border-radius: 10px;
        width: 75%;
        margin-left: 12.5%;

    }

    button {
        border: none;
        text-decoration: none;
        font-size: 40px;
        color:white;
        border-radius: 10px;
        text-align: center;
        width:25%;
        background: rgba(61,216,252, 0.7);
        margin-top: 1em;
        margin-left: 37.5%;
    }

    #warning{
        text-align: center;
        margin-bottom: 1.5em;
    }
</style>


</html>

