<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>MatchMyBottle</title>
    <link rel="icon" type="image/png" sizes="16x16" href="https://imagizer.imageshack.com/img923/4710/EdsMLI.png">
</head>
<body>

<div id="newCompte" >
    <b> <a href="/new" class="lien">
        Creation Compte
    </a> </b>
</div>

<div id="retour" >
    <b> <a href="/search" class="lien">
        Retour au quizz
    </a> </b>

</div>
<br>

<div class="connexion">
<h1><b>Connexion compte</b></h1>

<form method="post" th:action="@{/connexion}" th:object="${connexion}">

    <label class="label" for="firstNameInput">First Name</label><br/>

    <input  th:field="${connexion.email}" type="text" class="control" id="firstNameInput" aria-describedby="firstNameHelp" placeholder="Enter email"><br/>

    <label class="label"  for="lastNameInput">Last Name</label><br/>

    <input type="text"  th:field="${connexion.password}" class="control" id="lastNameInput" aria-describedby="lastNameHelp" placeholder="Enter Password"><br/>

    <div class="container">
        <span th:text="${message}"></span>
    </div>

    <div class="container" id="connexion">
            <b> <button type="submit" >Connexion</button> </b>
    </div>

</form>
</div>
</body>

<style>
    body {
        text-align: center;
        background-image: url("https://imagizer.imageshack.com/img923/4391/X8HXIK.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color:white;
    }

    .connexion{
        text-align: center;
        margin-top : 12em;
    }

    .lien{
        text-decoration:none;
        color:white;
    }
    a:hover
    {
        color: white;
        text-decoration: none;
    }

    .control{
        border: 3px solid rgba(247,82,224, 1);
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        outline:0;
        height:35px;
        width: 33%;
        padding-left:10px;
        padding-right:10px;
        margin-bottom: 20px;
        background-color : #000000;
        color:white;
   }
    h1{
        margin-bottom: 1em ;
    }

    .label{
        font-size: 25px;
    }

    #lastNameInput{
        -webkit-text-security: disc;
    }

    #newCompte{
        font-size: 30px;
        color:white;
        border-radius: 10px;
        text-align: center;
        width:10em;
        float:right;
        background: rgba(247,82,224, 0.7);
        margin-top: 0.2em;
        margin-left: 0.5em;
        margin-bottom: 2.7em;
    }

    #retour{
        font-size: 30px;
        color:white;
        border-radius: 10px;
        text-align: center;
        width:10em;
        float:left;
        background: rgba(247,82,224, 0.7);
        margin-top: 0.2em;
        margin-left: 0.5em;
        margin-bottom: 2.7em;
    }

    button {
        border: none;
        text-decoration: none;
        font-size: 30px;
        color: white;
        border-radius: 10px;
        text-align: center;
        width: 25%;
        background-color: #3DD8FC;
        margin-top: 1em;
        padding: 0.25em;
    }

    #connexion{
        margin-bottom: 1em;
    }
    </style>

</html>