<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <title>MatchMyBottle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="16x16" href="https://imagizer.imageshack.com/img923/4710/EdsMLI.png">
</head>

<body>

<div id="retour">
    <b> <a th:href="@{/searchConnecte/{id}(id = ${user.id})}" class="lien">
        Retour au quizz
    </a> </b>
</div>
<br>
<h1> <b>Mes Favoris </b></h1>

<div class="container">
    <table >
        <tbody>
        <tr th:each="favoris : ${favoris}">
            <div id="affichageFavori">
                <div id="image">
                <img th:src="@{${favoris.urlTease}}"  height = "90%"   alt=""/>
                </div>
                <div id="nom">
                    <b><span th:text="${favoris.nameTease}"></span></b>
                </div>
                <div id="description">
                <span th:text="${favoris.comTease}"></span>
                </div>
                <div id="supprimer">
                    <a th:href="@{/deleteFavoris/{idUser}/{id}(id = ${favoris.id_favoris},idUser=${user.id})}"><img src="https://imagizer.imageshack.com/img923/3732/1rEpVN.png" height = "95%" /></a>
                </div>

            </div>
        </tr>
        </tbody>
    </table>
</div>

</body>

<style>
    body {

        background-image: url("https://imagizer.imageshack.com/img923/4391/X8HXIK.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color:white;
    }

    a:hover
    {
        color: white;
        text-decoration: none;
    }

    .lien{
        text-decoration:none;
        color:white;
    }

    #retour{
        font-size: 30px;
        color:white;
        border-radius: 10px;
        text-align: center;
        width:10em;
        float:right;
        opacity:0.70;
        background: rgba(247,82,224, 0.7);
        margin-top: 0.7em;
        margin-right: 0.5em;
        margin-bottom: 2.7em;
    }

    h1{
        text-align: center;
        margin-top: 1em;
        margin-left: 25%;
        font-size: 70px;
    }

    #affichageFavori{
        display: flex;
        flex-direction: row;
        background-color: rgba(61,216,252, 0.7);
        border-radius: 20px;
        margin-top: 2em;
        margin-bottom: 1em;
        height: 8em;
    }

    #image{
        width: 250px;
        text-align: center;
        margin-top: 0.6em;
        margin-left: 0.5em;

    }

    #nom{
        width: 20em;
        font-size: 28px;
        text-align: center;
        height:4.7em;
        vertical-align:middle;
        line-height: 4.7em;
    }

    #description{
        font-size: 20px;
    }

    #supprimer{
        width: 10em;
    }



</style>

</html>
