<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>MatchMyBottle</title>
    <link rel="icon" type="image/png" sizes="16x16" href="https://imagizer.imageshack.com/img923/4710/EdsMLI.png">
</head>

<body>
<div class="result">
    <div id="nomTease">
        <span th:text="${tease.teaseName}"></span><br/>
    </div>
    <div id="imgTease" style="image-align: center;">
        <img th:src="@{${tease.urlImage}}"   height = "33%" width = "33%"  /><br/>
    </div>

    <div id="comTease">
        <p>
            <span th:text="${tease.teaseCom}"  ></span><br/>
        </p>
    </div>
</div>
<div class="container">
    <div id="newFavoris">
        <b> <a th:href="@{/ajouterFavoris/{idUser}/{id}(id = ${tease.id_tease},idUser=${user.id})}" class="lien">
            Ajouter à mes favoris
        </a> </b>
    </div>

    <div id="retour">
        <b> <a th:href="@{/searchConnecte/{id}(id = ${user.id})}" class="lien">
            Retour au Quizz
        </a> </b>
    </div>
</div><br>

</body>



<style>
    body {

        background-image: url("https://imagizer.imageshack.com/img923/4391/X8HXIK.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color:white;
    }

    a:hover
    {
        color: white;
        text-decoration: none;
    }

    .lien{
        text-decoration:none;
        color:white;
    }


    #nomTease{
        text-align: center;
        font-size: 40px;
        font-weight: bolder;
        margin : 0.5em;
        padding-top: 0.5em ;

    }

    #imgTease{
        image-align: center;
    }

    #comTease{

        text-align: justify;
        font-size: 20px;
        width: 66%;
        margin-left: 16.5%;
    }


    .result{
        text-align: center;
        margin-top : 7em;
        background: rgba(61,216,252,0.7);
        border-radius: 10px;
        width: 40%;
        margin-left: 30%;
        padding-bottom: 5px;
        margin-bottom: 2.7em;
    }


    #newFavoris{
        font-size: 30px;
        color:white;
        border-radius: 10px;
        text-align: center;
        width:10em;
        float:right;
        opacity:0.70;
        background: rgba(247,82,224, 0.7);
        margin-top: 0.2em;
        margin-left: 0.5em;
        margin-bottom: 2.7em;
    }

    #retour{
        font-size: 30px;
        color:white;
        border-radius: 10px;
        text-align: center;
        width:10em;
        float:left;
        opacity:0.70;
        background: rgba(247,82,224, 0.7);
        margin-top: 0.2em;
        margin-left: 0.5em;
        margin-bottom: 2.7em;
    }

</style>
</html>